{% extends 'guest/template.html.twig' %}
{% block contenuto %}
    <div class="container">
        <div id="contenitore" class="col-md-6 col-lg-6">

            {% for contenuto in elenco %}
                <a href="contenuti/utenteGuest/visualizzaContenutoView/{{ contenuto.getId() }}"> <img class="col-md-6 col-sm-6 "src="{{ asset("ImmaginiApp/contenuti/") }}{{ contenuto.getURL() }}" class="img-rectangle img-responsive"></a>

            {% endfor %}

        </div>
    </div>


<br><br><hr><br><br>
                <center>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Sei un calciatore?</h1>
                            <hr />
                            <img src="{{ asset("immaginiStatiche/player.png") }}" width="80">
                            <p>Su KickOver il Calciatore in vetrina sei tu!
                                Entra ed esalta le tue qualità!</p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title"> Allenatore o Dirigente?</h1>
                            <hr />
                            <img src="{{ asset("immaginiStatiche/player.png") }}" width="80">
                            <p>Con pochi click riuscirai a gestire la tua
                                società e la tua rosa grazie all'innovativo Social Network Calcistico.</p>
                            <br />

                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Tifoso?</h1>
                            <hr />
                            <img src="{{ asset("immaginiStatiche/player.png") }}" width="80">
                            <p> Su KickOver non sarai più un semplice spettatore ma un vero e
                                proprio protagonista del tuo Campionato di Calcio Dilettantistico</p>
                            <br />
                        </div>
                    </div>
                </div>
                </center>

{% endblock %}