{% extends 'guest/template.html.twig' %}
{% block contenuto %}
    {% if elenco is empty %}
        <div class="alert alert-danger">
            <strong>Attenzione</strong> Siamo spiacenti ma al momento non sono presenti contenuti
        </div>
    {% else %}
    <div class="container-fluid ">
    <div class="container col-md-6">
        <h1 class="text-center"> Ecco un'anteprima</h1>
        <hr>
        <br/><br/>
    <div id="myCarousel"  class="carousel slide col-md-6" data-ride="carousel" style="width: 600px; margin: 0 auto" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="{{ 0 }}" class="active"></li>
            {% set counter = 1%}
            {% for contenuto in elenco %}
                {% if loop.first== false %}
                    <li data-target="#myCarousel" data-slide-to="{{ counter }}" ></li>
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
        </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="col-md-12 col-sm-12"src="{{ asset("ImmaginiApp/contenuti/") }}{{ elenco[0].getURL() }}" >
        </div>
        {% for contenuto in elenco %}
            {% if loop.first== false %}
        <div class="item">
            <img class="col-md-12 col-sm-12"src="{{ asset("ImmaginiApp/contenuti/") }}{{ contenuto.getURL() }}" >
        </div>
            {% endif %}
        {% endfor %}
    </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
        {% endif %}
        <div class="container-fluid">
        <div class="col-md-6 text-center">
            <div class="box">
                <div class="box-content">
                    <h1 class="tag-title">I nostri numeri</h1>
                    <hr />
                    <div class="col-md-12">
                        <img src="{{ asset("immaginiStatiche/squadra.png") }}" width="40" class="col-sm-2">
                        {%  set totale = numSquadre%}
                        <h3 style="color:firebrick;font-family: Verdana" class="col-lg-10 col-md-10"><strong>Numero Squadre iscritte {{ totale }}</strong></strong></h3>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <img src="{{ asset("immaginiStatiche/manager.png") }}" width="40" class="col-sm-2">
                        {%  set totale = numAllenatori%}
                        <h3 style="color:#d58512; font-family: Verdana" class="col-lg-10 col-md-10"><strong>Numero Allenatori iscritti {{ totale }}</strong></h3>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <img src="{{ asset("immaginiStatiche/fan.png") }}" width="40" class="col-sm-2">
                        {%  set totale = numTifosi%}
                        <h3  style="color:blueviolet;font-family: Verdana" class="col-lg-10 col-md-10"><strong>Numero Tifosi iscritti {{ totale }}</strong></h3>
                    </div>
                    <br />
                    <div  class="col-md-12">
                        <img src="{{ asset("immaginiStatiche/manager.png") }}" width="40" class="col-sm-2">
                        {%  set totale = numStaff%}
                        <h3 style="color:#0088CC;font-family: Verdana" class="col-lg-10 col-md-10"><strong>Numero Staff iscritti {{ totale }}</strong></h3>
                    </div>
                    <br />
                    <div  class="col-md-12">
                        <img src="{{ asset("immaginiStatiche/player.png") }}" width="40" class="col-sm-2">
                        {%  set totale = numCalciatori%}
                        <h3 style="color:#6b9311;font-family: Verdana" class="col-lg-10 col-md-10"><strong>Numero Calciatori iscritti {{ totale }}</strong></h3>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>


<br><br><br><br>
                <center>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Sei un calciatore?</h1>
                            <hr />
                            <img src="{{ asset("immaginiStatiche/player.png") }}" width="80">
                            <p>Su YourTeam il Calciatore in vetrina sei tu!
                                Entra ed esalta le tue qualità!</p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title"> Allenatore o Dirigente?</h1>
                            <hr />
                            <img src="{{ asset("immaginiStatiche/manager.png") }}" width="80">
                            <p>Con pochi click riuscirai a gestire la tua
                                società e la tua rosa grazie all'innovativo Social Network Calcistico.</p>
                            <br />

                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Tifoso?</h1>
                            <hr />
                            <img src="{{ asset("immaginiStatiche/fan.png") }}" width="80">
                            <p> Su YourTeam non sarai più un semplice spettatore ma un vero e
                                proprio protagonista del tuo Campionato di Calcio</p>
                            <br />
                        </div>
                    </div>
                </div>
                </center>

{% endblock %}