{% extends 'guest/template.html.twig' %}
{% block contenuto %}
    <div class="container-fluid">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="{{ 0 }}" class="active"></li>
            {% set counter = 1%}
            {% for contenuto in elenco %}
                {% if loop.first== false %}
                    <li data-target="#myCarousel" data-slide-to="{{ counter }}" ></li>
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
        </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="col-md-12 col-sm-12"src="{{ asset("ImmaginiApp/contenuti/") }}{{ elenco[0].getURL() }}" >
        </div>
        {% for contenuto in elenco %}
            {% if loop.first== false %}
        <div class="item">
            <img class="col-md-12 col-sm-12"src="{{ asset("ImmaginiApp/contenuti/") }}{{ contenuto.getURL() }}" >
        </div>
            {% endif %}
        {% endfor %}
    </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    </div>


<br><br><hr><br><br>
                <center>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Sei un calciatore?</h1>
                            <hr />
                            <img src="{{ asset("immaginiStatiche/player.png") }}" width="80">
                            <p>Su KickOver il Calciatore in vetrina sei tu!
                                Entra ed esalta le tue qualità!</p>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title"> Allenatore o Dirigente?</h1>
                            <hr />
                            <img src="{{ asset("immaginiStatiche/player.png") }}" width="80">
                            <p>Con pochi click riuscirai a gestire la tua
                                società e la tua rosa grazie all'innovativo Social Network Calcistico.</p>
                            <br />

                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            <h1 class="tag-title">Tifoso?</h1>
                            <hr />
                            <img src="{{ asset("immaginiStatiche/player.png") }}" width="80">
                            <p> Su KickOver non sarai più un semplice spettatore ma un vero e
                                proprio protagonista del tuo Campionato di Calcio Dilettantistico</p>
                            <br />
                        </div>
                    </div>
                </div>
                </center>

{% endblock %}