{% extends 'guest/template.html.twig' %}
{% block contenuto %}
    <div class="container-fluid">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="{{ elenco[0].getId() }}" class="active"></li>
            {% for contenuto in elenco %}
                {% if loop.first== false %}
                    <li data-target="#myCarousel" data-slide-to="{{ contenuto.getId() }}" ></li>
                {% endif %}
            {% endfor %}
        </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="contenuti/utenteGuest/visualizzaContenutoView/{{ elenco[0].getId() }}"> <img class="col-md-12 col-sm-12"src="{{ asset("ImmaginiApp/contenuti/") }}{{ elenco[0].getURL() }}" ></a>
        </div>
        {% for contenuto in elenco %}
            {% if loop.first== false %}
        <div class="item">
                <a href="contenuti/utenteGuest/visualizzaContenutoView/{{ contenuto.getId() }}"> <img class="col-md-12 col-sm-12"src="{{ asset("ImmaginiApp/contenuti/") }}{{ contenuto.getURL() }}" ></a>
        </div>
            {% endif %}
        {% endfor %}
    </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    </div>
{% endblock %}