{% extends 'giocatore/template.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('comunicazione/css/chat.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block contenuto %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment">&nbsp;Chat</span>
                    </div>
                    <div id="chat-body" class="panel-body">
                        <ul class="chat" id="chat-list">

                            {% for messaggio in messaggi %}
                                {% if messaggio.getMittente() == "calciatore" %}
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar"
                                                 class="img-circle"/>
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted">
                                                    <span class="glyphicon glyphicon-time datetime">{{ messaggio.getDataString() }}</span>
                                                </small>
                                                <strong class="pull-right primary-font">
                                                    {{ messaggio.getNomeMittente() | capitalize }}
                                                    &nbsp;{{ messaggio.getCognomeMittente() | capitalize }}
                                                </strong>
                                            </div>
                                            <p>
                                                {{ messaggio.getTesto() }}
                                            </p>
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                                 class="img-circle"/>
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">{{ messaggio.getNomeMittente() | capitalize }}
                                                    &nbsp;{{ messaggio.getCognomeMittente() | capitalize }}</strong>
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time datetime">{{ messaggio.getDataString() }}</span>
                                                </small>
                                            </div>
                                            <p>
                                                {{ messaggio.getTesto() }}
                                            </p>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="panel-footer">
                        <form id="chat" action="{{ path('calciatoreInviaMessaggioChat') }}" method="post">
                            <input type="hidden" name="destinatario" value="{{ destinatario }}"/>
                            <input type="hidden" name="nuovimessaggi" value="{{ path('nuoviMessaggiCalciatore') }}"/>
                            <div class="input-group">
                                <input type="text" class="form-control" name="testo" placeholder="Scrivi un messaggio"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-warning">Invia</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('comunicazione/js/ChatCalciatore.js') }}"></script>
{% endblock %}