<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Your Team</title>
    <meta name="generator" content="Bootply"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ asset("assetTemplate/css/bootstrap.min.css") }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ asset("assetTemplate/css/styles.css") }}" rel="stylesheet">
    <link href="{{ asset("css/chat.css") }}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a class="navbar-brand" href="{{ path("home") }}"><img src="{{ asset('immaginiStatiche/Logo.png') }}"
                                                                   width="30"
                                                                   height="30">Your Team</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">


                <li><a href="#">{% block utente %} {% endblock %}</a></li>
                <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>


            </ul>
        </div>
    </div><!-- /container -->
</nav>

<!-- Main -->
<div class="container-fluid">

    <!-- upper section -->
    <div class="row">
        <div class="col-sm-3">
            <!-- left -->
            <h3><i class="glyphicon glyphicon-briefcase"></i> Toolbox</h3>
            <hr>

            <ul class="nav nav-stacked">


                <li><a href="javascript:;"><i class="glyphicon glyphicon-flash"></i> Home</a></li>
                <li><a href="{{ path('lista_partite') }}"><i class="glyphicon glyphicon-link"></i>Partite</a></li>
                <li><a href="javascript:;"><i class="glyphicon glyphicon-list-alt"></i> statistiche giocatori</a></li>
                <li><a href="../../comunicazione/giocatore/ottieniMessaggioChatView"><i
                                class="glyphicon glyphicon-book"></i> colloquio
                        chat</a></li>
                <li><a href="javascript:;"><i class="glyphicon glyphicon-briefcase"></i> colloquio
                        voce </a></li>
                <li><a href="javascript:;"><i class="glyphicon glyphicon-briefcase"></i> rosa</a></li>

            </ul>

            <hr>

        </div><!-- /span-3 -->
        <div class="col-sm-9">

            <!-- column 2 -->
            <h3><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3>

            <hr>

            <div class="row">
                {% block contenuto %}

                {% endblock %}

            </div><!--/row-->

        </div><!--/col-span-9-->

    </div><!--/row-->
    <!-- /upper section -->

    <!-- lower section -->


</div><!--/container-->
<!-- /Main -->


<footer class="text-center"><strong>Your Team</strong></footer>

<div class="modal" id="addWidgetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Widget</h4>
            </div>
            <div class="modal-body">
                <p>Add a widget stuff here..</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dalog -->
</div><!-- /.modal -->

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="{{ asset("assetTemplate/js/bootstrap.min.js") }}"></script>
</body>
</html>