{% extends "allenatore/template.html.twig" %}
{% block contenuto %}


    <div>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-search"></span> Scegli Calciatore Salute
                        </div>
                        <form action="{{ path('ottienidietaview') }}" method="post">
                            <select name="calciatore_destinatario">
                                {% for calciatore in calciatori %}
                                    <option>
                                        {{ calciatore }}
                                    </option>
                                {% endfor %}
                            </select>

                            <button type="submit" class="btn btn-default">Invia</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-cutlery"></span> Richiami Dieta
                        </div>
                        <ul id="chat" class="list-group">
                            {% for messaggio in messaggi %}
                                <li class="list-group-item"> <span>{{ messaggio.getTesto() }}</span>
                                    <h6>  {{ messaggio.getDataString() }} </h6>
                                    <strong> {{ messaggio.getNomeDestinatario()}} {{ messaggio.getCognomeDestinatario() }}</strong></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-fire"></span> Richiami Allenamento
                        </div>
                        <ul id="chat" class="list-group">
                            {% for messaggio in messaggi2 %}
                                <li class="list-group-item"> <span>{{ messaggio.getTesto() }}</span>
                                    <h6>  {{ messaggio.getDataString() }} </h6>
                                    <strong> {{ messaggio.getNomeDestinatario()}} {{ messaggio.getCognomeDestinatario() }}</strong></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}