{% extends "allenatore/template.html.twig" %}
{% block contenuto %}
    <span>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-search"></span> Scegli Calciatore Comportamento
                        </div>
                        <form action="/yourteam/web/app_dev.php/comunicazione/allenatore/ottieniRichiamoMultaView" method="post">
            <select name="calciatore_destinatario">
                {% for calciatore in calciatori %}
                    <option>
                        {{ calciatore }}
                    </option>
                {% endfor %}
            </select>

            <input type="submit" value="Invia"/>
        </form>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> Richiami Multa
                        </div>
                        <ul id="chat" class="list-group">
                            {% for messaggio in messaggi %}
                                <li class="list-group-item"> <span>{{ messaggio.getTesto() }}</span>
                                <h6>  {{ messaggio.getData() }} </h6>
                                <strong> {{ messaggio.getNomeDestinatario() }} {{ messaggio.getCognomeDestinatario() }}</strong></li></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

            <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Richiami Avvertimento
                        </div>
                        <ul id="chat" class="list-group">
                            {% for messaggio in messaggi %}
                                <li class="list-group-item"> <span>{{ messaggio.getTesto() }}</span>
                                <h6>  {{ messaggio.getData() }} </h6>
                                    <strong> {{ messaggio.getNomeDestinatario()}} {{ messaggio.getCognomeDestinatario() }}</strong></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </span>

{% endblock %}