{% extends 'allenatore/template.html.twig' %}

{% block head %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('./formazione/css/mainCss.css') }}"/>
    {% endblock %}

{% endblock %}

{% block contenuto %}

    <div class="profile-content">

        <div class="row">

            <form action="{{ path('controlConvocazioni') }}" method="post">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Convocazioni per la partita {{ partita.getNome }}</th>
                    </tr>
                    </thead>

                    <tbody>

                {% for calciatore in calciatori %}

                    <tr>
                        <td><input type="checkbox" name="calciatori[]" value="{{ calciatore.getUsernameCodiceContratto }}">   {{ calciatore.getNome }} {{ calciatore.getCognome }}</td>
                    </tr>



                {% endfor %}

                <tr>
                    <td> <input type="submit" value="Submit"></td>
                </tr>

                    </tbody>
                </table>



            </form>


        </div>
    </div>
{% endblock %}

