{% extends 'allenatore/template.html.twig' %}

{% block head %}

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('./formazione/css/mainCss.css') }}"/>
    {% endblock %}

{% endblock %}

{% block contenuto %}

    <div class="profile-content">

        <div class="row">

            <div>Convocazioni per la partita {{ partita.getNome }} </div>

            <form action="http://localhost/yourteam/web/app_dev.php/formazione/allenatore/controlConvocazioni" method="post">

                {% for calciatore in calciatori %}

                    <input type="checkbox" name="calciatori[]" value="{{ calciatore.getUsernameCodiceContratto }}">   {{ calciatore.getNome }} {{ calciatore.getCognome }}<br>

                {% endfor %}

                <br>

                <input type="submit" value="Submit">

            </form>


        </div>
    </div>
{% endblock %}

