{% extends 'allenatore/template.html.twig' %}
{% block utente %}
    <form method="post">
        <button type="submit" style=" background: transparent; border: transparent">{{ allenatore.getNome() }}  {{ allenatore.getCognome() }}</button></form>

{% endblock %}
{% block contenuto %}
    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ allenatore.getNome() }} {{ allenatore.getCognome() }} <b>Allenatore</b></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ asset("ImmaginiApp/account/") }}{{ allenatore.getImmagine() }}" class="img-circle img-responsive"> </div>

                                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                                  <dl>
                                    <dt>DEPARTMENT:</dt>
                                    <dd>Administrator</dd>
                                    <dt>HIRE DATE</dt>
                                    <dd>11/12/2013</dd>
                                    <dt>DATE OF BIRTH</dt>
                                       <dd>11/12/2013</dd>
                                    <dt>GENDER</dt>
                                    <dd>Male</dd>
                                  </dl>
                                </div>-->
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td><b>Email:</b></td>
                                            <td>{{ allenatore.getEmail() }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Numero Contratto</b></td>
                                            <td>{{ allenatore.getUsernamecodiceContratto() }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Data di Nascita</b></td>
                                            <td>{{ allenatore.getDataDiNascita() }}</td>
                                        </tr>

                                        <tr>
                                        <tr>
                                            <td><b>Domicilio</b></td>
                                            <td>{{ allenatore.getDomicilio() }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Indirizzo</b></td>
                                            <td>{{ allenatore.getIndirizzo() }}</td>
                                        </tr>


                                        <tr>
                                        <td><b>Provincia</b></td>
                                        <td>{{ allenatore.getProvincia() }}
                                        </tr>
                                        <tr>

                                        <td><b>Telefono</b></td>
                                        <td>   {{ allenatore.getTelefono() }}
                                        </td>

                                        </tr>
                                        <tr>
                                            <td>

                                                <button type="button" class="btn btn-info"> Elimina </button> &nbsp &nbsp

                                            </td>
                                            <td> <button type="button" class="btn btn-info"> Modifica </button></td>
                                        </tr>

                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">

                        </div>

                    </div>
{% endblock %}

