{% extends 'staff/template.html.twig' %}
{% block utente %}
	<form method="post">
		<button type="submit" style=" background: transparent; border: transparent">{{ g.getNome() }}  {{ g.getCognome() }}</button></form>

{% endblock %}
{% block contenuto %}

<form class="form-horizontal" method="POST" action="/yourteam/web/app_dev.php/account/staff_allenatore_tifoso/modificaAccount" id="f" enctype="multipart/form-data">
	<!--apro la form-->

	<input type="text" name="tipo" value="x" class="form-control" id="t" style="visibility: hidden">


	<div class="form-group">
		<label class="control-label col-sm-2" for="username" id="scritta"><h1>Modifica</h1></label>

	</div>



	<hr>

			<div class="form-group"> <!-- mi serve per inserire label e campo in una riga ben formattata-->
				<label class="control-label col-sm-2" for="nome">Nome</label> <!--control-label mi inserisce il testo vicino al campo, col-sm-2 mi fa una colonna di grandezza 2-->
				<div class="col-sm-10"> <!--colonna di grandezza 10 -->
					<input type="text" id="nome" name="n" class="form-control" placeholder="{{ g.getNome() }}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="cognome">Cognome</label>
				<div class="col-sm-10">
					<input type="text" id ="cognome" name="c" class="form-control" placeholder="{{ g.getCognome() }}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="nascita">Data di nascita</label>
				<div class="col-sm-10">
					<input type="date" id="nascita" name="d" placeholder="{{ g.getDataDiNascita() }}" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="domicilio">Domicilio</label>
				<div class="col-sm-10">
					<input type="text" id="domicilio" name="do" placeholder="{{ g.getDomicilio() }}" class="form-control" />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="indirizzo">Indirizzo</label>
				<div class="col-sm-10">
					<input type="text" id="indirizzo" name="i" placeholder="{{ g.getIndirizzo() }}" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="provincia">Provincia</label>
				<div class="col-sm-10">
					<input type="text" name="pr" id="provincia"placeholder="{{ g.getProvincia() }}" class="form-control"  />
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="telefono">Telefono</label>
				<div class="col-sm-10">
					<input type="text"  name="t" id="telefono" class="form-control" placeholder="{{ g.getTelefono() }}" >
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">email</label>
				<div class="col-sm-10">
					<input type="email" id="email" name="e" class="form-control" placeholder="{{ g.getEmail() }}" >
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Password</label>
				<div class="col-sm-10">
					<input type="password" name="p" id="pwd" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd2">Conferma password(da fare)</label>
				<div class="col-sm-10">
					<input type="password" id="pwd2" class="form-control">
				</div>
			</div>




			<div class="form-group">
				<label class="control-label col-sm-2" for="scegli">Scegli foto profilo</label>

				<div class="col-sm-10">
					<!--<label class="btn btn-default btn-file" style="background-color:#182a3f;"> FOTO <input type="file" style="display: none;"  onchange="$('#upload-file-info').html($(this).val());">
					</label>
					<span class='label label-info' id="upload-file-info"></span>-->
					<input type="file" class="waves-effect waves-light btn" name="file" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info">Conferma</button>
				</div>
			</div>




</form>


{% endblock %}