{% extends 'staff/template.html.twig' %}
{% block utente %}
    <form method="post">
        <button type="submit" style=" background: transparent; border: transparent">{{ staff.getNome() }}  {{ staff.getCognome() }}</button></form>
{% endblock %}
{% block contenuto %}
    <form class="form-horizontal" method="POST" action="/yourteam/web/app_dev.php/account/staff/convalida" id="f" enctype="multipart/form-data">

    <div class="form-group" id="divSceltaSquadre">
        <div class="row">
        <label class="control-label col-sm-4">Scegli utente da convalidare:</label>


            <select name="u">


            {% for u in utente %}
                <div class="col-sm-4 col-md-offset-4">
                    <option value="{{u.getUsernamecodiceContratto()}}"/>{{ u.getNome() }} {{ u.getCognome() }}
                </div>
            {% endfor %}
            </select>
        </div>
        </div>
        </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">Conferma</button>
        </div>
    </div>
    </form>

{% endblock %}