{% extends 'staff/template.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .panel-title button {
            width: 100%;
        }

        #add {
            margin-bottom: 3%;
        }

        #new {
            display: none;
        }
    </style>
{% endblock %}

{% block contenuto %}

    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <button id="add" class="btn btn-primary fa fa-plus">Aggiungi</button>
            </div>
        </div>
    </div>

    <div id="accordion" class="panel-group" role="tablist">
        <div id="new" class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <button class="collapsed" data-toggle="collapse" data-parent="#accordion"
                            data-target="#collapse">
                        <span class="pull-left">Nuova - Partita</span>
                    </button>
                </h4>
            </div>

            <div id="collapse" class="panel-collapse collapse-in" role="tabpanel">
                <div class="panel-body">
                    {% include ":staff:FormInserisciPartita.html.twig" %}
                </div>
            </div>
        </div>


        {% for partita in partite %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <button class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                data-target="#{{ loop.index }}">
                            <span class="pull-left">{{ partita.getNome() }}</span><span
                                    class="pull-right">{{ partita.getData() | date('Y-m-d H:i:s') }}</span>
                        </button>
                    </h4>
                </div>

                <div id="{{ loop.index }}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <button class="modifica-btn">Modifica</button>
                        <button class="info-btn">Info</button>
                    </div>

                    <div class="info" style="display:none;">
                        {% include ":staff:ViewInfoPartita.html.twig" with {"partita" : partita} only %}
                    </div>

                    <div class="modifica" style="display: none;">
                        {% include ":staff:FormModificaPartita.html.twig" with {"partita" : partita} only %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <script>
        $(function () {
            $("#add").click(function () {
                $("#new").toggle();
            });

            $(".modifica-btn").click(function () {
                $(this).parent().siblings(".modifica").toggle();
            });

            $(".info-btn").click(function () {
                $(this).parent().siblings(".info").toggle();
            });

            $("#salva_partita").click(function () {
                var casa = $("input[name='casa']").val();
                var trasferta = $("input[name='trasferta']").val();
                var stadio = $("input[name='stadio']").val();
                var data = $("input[name='data']").val();
                var ora = $("input[name='ora']").val();

                alert("casa: " + casa);
                alert("trasferta: " + trasferta);
                alert("stadio: " + stadio);
                alert("data: " + data);
                alert("ora: " + ora);

                $.ajax({
                    //url Specifies the URL to send the request to. Default is the current page.
                    url: "{{ path("inserisciPartita") }}",
                    //type	Specifies the type of request. (GET or POST)
                    type: "POST",
                    //dataType	The data type expected of the server response.
                    dataType: 'json',
                    //data	Specifies data to be sent to the server.
                    data: {
                        "casa": casa,
                        "trasferta": trasferta,
                        "stadio": stadio,
                        "data": data,
                        "ora": ora
                    },
                    //cache	A Boolean value indicating whether the browser should cache the requested pages. Default is true.
                    cache: false,
                    success: function (response, textStatus, jqXHR) {
                        var success = response.success;
                        console.log(response);

                        if (success === true) {
                            var casa = response.partita.casa;
                            var trasferta = response.partita.trasferta;
                            var nome = response.partita.nome;
                            var data = response.partita.data;
                            var squadra = response.partita.squadra;
                            var stadio = response.partita.stadio;

                            var container = document.createElement("div");
                            container.setAttribute("class", "panel panel-default");

                            var heading = document.createElement("div");
                            heading.setAttribute("class", "panel-heading");
                            heading.setAttribute("role", "tab");
                            container.appendChild(heading);

                            var title = document.createElement("h4");
                            title.setAttribute("class", "panel-title");
                            heading.appendChild(title);

                            var button = document.createElement("button");
                            button.setAttribute("class", "collapsed");
                            button.setAttribute("data-toggle", "collapse");
                            button.setAttribute("data-parent", "#accordion");
                            var nowID = "ID" + $.now().toString();
                            button.setAttribute("data-target", "#" + nowID);
                            title.appendChild(button);

                            var spanNome = document.createElement("span");
                            spanNome.setAttribute("class", "pull-left");
                            spanNome.appendChild(document.createTextNode(nome));
                            button.appendChild(spanNome);

                            var spanData = document.createElement("span");
                            spanData.setAttribute("class", "pull-right");
                            spanData.appendChild(document.createTextNode(data));
                            button.appendChild(spanData);

                            var content = document.createElement("div");
                            content.setAttribute("id", nowID);
                            content.setAttribute("class", "panel-collapse collapse");
                            content.setAttribute("role", "tabpanel");
                            container.appendChild(content);

                            var body = document.createElement("div");
                            body.setAttribute("class", "panel-body");
                            content.appendChild(body);


                            var modifica = document.createElement("button");
                            modifica.appendChild(document.createTextNode("Modifica"));
                            var info = document.createElement("button");
                            info.appendChild(document.createTextNode("Info"));
                            body.appendChild(modifica);
                            body.appendChild(info);

                            $("#accordion").append(container);
                            $('#form_new_partita')[0].reset();
                            $("#new").hide();
                        }
                    }
                    ,
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Errore nell'invio del messaggio.\nStato: " + textStatus + "\nError: " + errorThrown);
                    }
                });


            });
        });
    </script>


    <script>
        $(function () {//document.ready()
            /* attach a submit handler to the form */
            $(".modifica-partita").submit(function (event) {
                var $form = $(this);
                var $divModifica = $(this).parent();
                var $divCollapsible = $(this).parent().parent();

                /* stop form from submitting normally */
                event.preventDefault();
                alert("Ajax Modifica Partita...");

                // get all the inputs into an array.
                var $inputs = $(this).find(":input:not([type = 'submit'])");
                var values = {};

                $inputs.each(function () {
                    var name = this.name;
                    var value = $(this).val();
                    var originalValue = $(this).attr("data-original-value");

                    values[this.name] = {"old": $(this).attr("data-original-value"), "new": $(this).val()};
                    alert("values[" + this.name + "] = " + JSON.stringify(values[this.name]));
                });

                console.log("AJAX Values: ");
                console.log(JSON.stringify(values));

                $.ajax({
                    url: "{{ path("modificaPartita") }}",
                    type: "POST",
                    dataType: 'json',
                    data: {"values": JSON.stringify(values)},
                    cache: false,
                    success: function (response, textStatus, jqXHR) {
                        console.log(response);

                        $($divModifica).hide();
                        if ($($divCollapsible).hasClass("in")) {
                            $($divCollapsible).collapse("toggle");
                        }
                    }
                    ,
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Errore.\nStato: " + textStatus + "\nError: " + errorThrown);
                        console.log(jqXHR.status);
                        console.log(jqXHR.responseText);
                        console.log(errorThrown);
                    }
                });
            });
        });

    </script>
{% endblock %}