{% block contenuto %}
    <h1>Statistiche {{ calciatore.getNome() |capitalize }}
        &nbsp;{{ calciatore.getCognome() |capitalize }}</h1>
    <table>
        <tr>
            <th>Statistica</th>
            <th>Valore</th>
        </tr>

        <tr>
            <td>Tiri Totali</td>
            <td>{{ calciatore.getStatistiche().getTiriTotali() }}</td>
        </tr>

        <tr>
            <td>Tiri in Porta</td>
            <td>{{ calciatore.getStatistiche().getTiriPorta() }}</td>
        </tr>

        <tr>
            <td>Falli Fatti</td>
            <td>{{ calciatore.getStatistiche().falliFatti }}</td>
        </tr>

        <tr>
            <td>Falli Subiti</td>
            <td>{{ calciatore.getStatistiche().falliSubiti }}</td>
        </tr>

        <tr>
            <td>% Passaggi Riusciti</td>
            <td>{{ calciatore.getStatistiche().percentualePassaggiRiusciti }}</td>
        </tr>

        <tr>
            <td>Gol Fatti</td>
            <td>{{ calciatore.getStatistiche().golFatti }}</td>
        </tr>

        <tr>
            <td>Gol Subiti</td>
            <td>{{ calciatore.getStatistiche().golSubiti }}</td>
        </tr>

        <tr>
            <td>Assist</td>
            <td>{{ calciatore.getStatistiche().assist }}</td>
        </tr>

        <tr>
            <td>Ammonizioni</td>
            <td>{{ calciatore.getStatistiche().ammonizioni }}</td>
        </tr>

        <tr>
            <td>Espulsioni</td>
            <td>{{ calciatore.getStatistiche().espulsioni }}</td>
        </tr>
    </table>
{% endblock %}

