{% extends 'staff/template.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset("partite/css/Main.css") }}">
{% endblock %}

{% block contenuto %}
    <h2>Partite</h2>

    {% include "staff/ViewAlertMessages.html.twig" %}

    <div class="row">
        <div class="col-xs-12">
            <div class="text-right">
                <button id="add" class="btn btn-default">Aggiungi</button>
            </div>
        </div>
    </div>

    <div id="accordion" class="panel-group" role="tablist">
        <div id="new" class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <button class="btn btn-default" data-toggle="collapse" data-parent="#accordion"
                            data-target="#collapse">
                        <span class="pull-left">Nuova - Partita</span>
                    </button>
                </h4>
            </div>

            <div id="collapse" class="panel-collapse collapse-in" role="tabpanel">
                <div class="panel-body">
                    {% include ":staff:FormInserisciPartita.html.twig" %}
                </div>
            </div>
        </div>


        {% for partita in partite %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <button class="btn btn-default" data-toggle="collapse" data-parent="#accordion"
                                data-target="#{{ loop.index }}">
                            <span class="pull-left">{{ partita.getNome() }}</span><span
                                    class="pull-right">{{ partita.getData() | date('Y-m-d H:i:s') }}</span>
                        </button>
                    </h4>
                </div>

                <div id="{{ loop.index }}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <button class="modifica-btn">Modifica</button>
                        <button class="info-btn">Info</button>
                    </div>

                    <div class="info" style="display:none;">
                        {% include ":staff:ViewInfoPartita.html.twig" with {"partita" : partita} only %}
                    </div>

                    <div class="modifica" style="display: none;">
                        {% include ":staff:FormModificaPartita.html.twig" with {"partita" : partita} only %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <script src="{{ asset("partite/js/InserisciPartita.js") }}"></script>
    <script src="{{ asset("partite/js/ModificaPartita.js") }}"></script>
{% endblock %}