{% if partita.hasStatistiche() %}
    {% set statistiche = partita.getStatistiche() %}
    {% set marcatori = statistiche.getMarcatori() %}
    {% set assistmen = statistiche.getAssistMen() %}
    {% set ammonizioni = statistiche.getAmmonizioni() %}
    {% set espulsioni = statistiche.getEspulsioni() %}
    {% if partita.hasConvocati() %}
        {% set convocati = partita.getConvocati() %}
    {% endif %}

    <div class="view-statistiche-partita">
        <input type="hidden" name="nome" value="{{ partita.getNome() }}">
        <input type="hidden" name="data" value="{{ partita.getDataString() }}">

        <div>
        <span>
            <label>Gol Fatti</label>
            <input type="number" min="0" name="golfatti" readonly="readonly" value="{{ statistiche.getGolFatti() }}">
        </span>
            <span>
            <input type="number" min="0" name="golsubiti" readonly="readonly" value="{{ statistiche.getGolSubiti() }}">
            <label>Gol Subiti</label>
        </span>
        </div>

        <div>
            <label>Possesso Palla</label>
            <input type="number" min="0" name="possessopalla" readonly="readonly"
                   value="{{ statistiche.getPossessoPalla() }}">
        </div>

        <div>
            <label>Marcatori</label>
            <ul class="marcatori list-group">
                {% if convocati is defined %}
                    {% for marcatore in marcatori %}
                        {% for calciatore in convocati %}
                            {% set contratto = calciatore.getContratto() %}

                            {% if contratto is same as(marcatore) %}
                                <li class="list-group-item">
                                    &nbsp;{{ calciatore.getNome() | capitalize }}
                                    &nbsp;{{ calciatore.getCognome() | capitalize }}
                                    <span class="badge">{{ calciatore.getNumeroMaglia() }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div>
            <label>Assist Men</label>
            <ul class="assistmen list-group">
                {% if convocati is defined %}
                    {% for assistman in assistmen %}
                        {% for calciatore in convocati %}
                            {% set contratto = calciatore.getContratto() %}

                            {% if contratto is same as(assistman) %}
                                <li class="list-group-item">
                                    &nbsp;{{ calciatore.getNome() | capitalize }}
                                    &nbsp;{{ calciatore.getCognome()| capitalize }}
                                    <span class="badge">{{ calciatore.getNumeroMaglia() }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div>
            <label>Ammonizioni</label>
            <ul class="ammonizioni list-group">
                {% if convocati is defined %}
                    {% for ammonizione in ammonizioni %}
                        {% for calciatore in convocati %}
                            {% set contratto = calciatore.getContratto() %}

                            {% if contratto is same as(ammonizione) %}
                                <li class="list-group-item">
                                    &nbsp;{{ calciatore.getNome() | capitalize }}
                                    &nbsp;{{ calciatore.getCognome()| capitalize }}
                                    <span class="badge">{{ calciatore.getNumeroMaglia() }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div>
            <label>Espulsioni</label>
            <ul class="espulsioni list-group">
                {% if convocati is defined %}
                    {% for espulsione in espulsioni %}
                        {% for calciatore in convocati %}
                            {% set contratto = calciatore.getContratto() %}

                            {% if contratto is same as(espulsione) %}
                                <li class="list-group-item">
                                    &nbsp;{{ calciatore.getNome()| capitalize }}
                                    &nbsp;{{ calciatore.getCognome()| capitalize }}
                                    <span class="badge">{{ calciatore.getNumeroMaglia() }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}