{% extends "staff/template.html.twig" %}
{% block contenuto %}
    <h2>Inserisci statistiche calciatori</h2>
    <h3>{{ partita.getNome }}</h3>

    <div id="accordion" class="panel-group" role="tablist">
        {#{{ dump(partita) }}#}
        {% for calciatore in calciatori %}
            {#{{ dump(calciatore) }}#}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <button class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                data-target="#{{ loop.index }}">
                            <span class="pull-left">{{ calciatore.getNome() |capitalize }}&nbsp;
                                &nbsp;{{ calciatore.getCognome() |capitalize }}</span>
                            <span class="pull-right"></span>
                        </button>
                    </h4>
                </div>
                <div id="{{ loop.index }}" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        {% include "staff/FormInserisciStatisticheCalciatore.html.twig" with {"partita" : partita, "calciatore" : calciatore} only %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
{% endblock %}