{% extends 'staff/template.html.twig' %}
{% block contenuto %}
    <div class="container col-md-10 col-lg-10">
        <div class="row col-md-12 col-lg-12">
                <div class="form-group">
                    <label >{{  contenuto.getTitolo()}}</label>
                </div>
                <div class="form-group">
                    <textarea style="border:none; height: auto" cols="100" readonly >{{ contenuto.getDescrizione()}}</textarea>
                </div>
                <img src="{{ asset("ImmaginiApp/contenuti/") }}{{ contenuto.getURL() }}" class="img-rounded img-responsive" alt="immagine">
        </div>
    </div>
    <div class="container col-md-10 col-lg-10">
        <div class="row col-md-12 col-lg-12">
                <form>
                    <br>
                    <div class="form-group">
                         <button type="submit" class="btn btn-default"><a style="color:black; text-decoration: none" href="{{ path("cancellaContenuto",{ "id":contenuto.getId()}) }}">Elimina contenuto</a></button>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}