{% extends 'staff/template.html.twig' %}
{% block utente %}
    <form method="post">
        <button type="submit" style=" background: transparent; border: transparent">{{ staff.getNome() }}  {{ staff.getCognome() }}</button></form>
{% endblock %}
{% block contenuto %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ staff.getNome() }} {{ staff.getCognome() }} <b>Staff</b></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ asset("ImmaginiApp/account/") }}{{ staff.getImmagine() }}" class="img-circle img-responsive"> </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td><b>Nome:</b></td>
                            <td>{{ staff.getNome() }}</td>
                        </tr>
                        <tr>
                            <td><b>Cognome:</b></td>
                            <td>{{ staff.getCognome() }}</td>
                        </tr>
                        <tr>
                            <td><b>E-mail:</b></td>
                            <td>{{staff.getEmail() }}</td>
                        </tr>
                        <tr>
                            <td><b>Username</b></td>
                            <td>{{ staff.getUsernamecodiceContratto() }}</td>
                        </tr>
                        <tr>
                            <td><b>Data di Nascita</b></td>
                            <td>{{ staff.getDataDiNascita() }}</td>
                        </tr>

                        <tr>
                        <tr>
                            <td><b>Domicilio</b></td>
                            <td>{{ staff.getDomicilio() }}</td>
                        </tr>
                        <tr>
                            <td><b>Indirizzo</b></td>
                            <td>{{ staff.getIndirizzo() }}</td>
                        </tr>


                        <tr>
                            <td><b>Provincia</b></td>
                            <td>{{ staff.getProvincia() }}
                        </tr>
                        <tr>

                            <td><b>Telefono</b></td>
                            <td>   {{ staff.getTelefono() }}
                            </td>

                        </tr>
                        <tr>

                            <td><b>Squadra</b></td>
                            <td>   {{ staff.getSquadra() }}
                            </td>

                        </tr>
                        <tr>
                            <td>

                                <button type="button" class="btn btn-info" onclick="window.location.href='{{ path('eliminaAccount',{'attore':'staff','username':staff.getUsernamecodiceContratto() }) }}'"> Elimina </button> &nbsp &nbsp

                            </td>
                            <td> <button type="button" class="btn btn-info" onclick="window.location.href='{{ path('modificaAccountForm',{'tipo':'staff','u':staff.getUsernamecodiceContratto()}) }}'"> Modifica </button></td>
                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <div class="panel-footer">

        </div>

    </div>
{% endblock %}