{% extends 'staff/template.html.twig' %}
{% block contenuto %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                    <label>{{  contenuto.getTitolo()}}</label>
                </div>
                <div class="form-group">
                    <label>{{ contenuto.getDescrizione()}}</label>
                </div>

                <video controls>
                    <source src="{{ asset("ImmaginiApp/contenuti/Video/") }}{{ contenuto.getURL() }}"  type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <form>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Modifica</button>
                        <button type="submit" class="btn btn-default"><a style="color:black" href="/yourteam/web/app_dev.php/contenuti/staff/cancellaContenuto/{{ contenuto.getId() }}">Elimina</a></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}